<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmr.bbs.dao.QuestionExtMapper">
    <resultMap id="question_user_map" type="com.xmr.bbs.modal.Question">
        <id column="qid" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="qct" property="gmtCreate"/>
        <result column="qmt" property="gmtModified"/>
        <result column="tag" property="tag"/>
        <result column="creator" property="creator"/>
        <result column="view_count" property="viewCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="category" property="category"/>
        <association javaType="com.xmr.bbs.modal.User" property="user">
            <result column="account" property="accountId"/>
            <result column="name" property="name"/>
            <result column="account_id" property="accountId"/>
            <result column="token" property="token"/>
            <result column="uct" property="gmtCreate"/>
            <result column="umt" property="gmtModified"/>
            <result column="avatar_url" property="avatarUrl"/>
            <result column="bio" property="bio"/>
            <result column="location" property="location"/>
            <result column="company" property="company"/>
        </association>

    </resultMap>
    <resultMap id="question_user_map_userid" type="com.xmr.bbs.modal.Question">
        <id column="qid" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="qct" property="gmtCreate"/>
        <result column="qmt" property="gmtModified"/>
        <result column="tag" property="tag"/>
        <result column="creator" property="creator"/>
        <result column="view_count" property="viewCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="category" property="category"/>
        <association javaType="com.xmr.bbs.modal.User" property="user">
            <result column="account" property="accountId"/>
            <result column="name" property="name"/>
            <result column="account_id" property="accountId"/>
            <result column="token" property="token"/>
            <result column="uct" property="gmtCreate"/>
            <result column="umt" property="gmtModified"/>
            <result column="avatar_url" property="avatarUrl"/>
            <result column="bio" property="bio"/>
            <result column="location" property="location"/>
            <result column="company" property="company"/>
        </association>

    </resultMap>

    <select id="findQuestionWithUserById" resultMap="question_user_map_userid"
            resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,
    q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category
    ,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id and q.id=#{id}
    ORDER  by qct DESC
  </select>
    <select id="listQuestionWithUserByUserId" resultMap="question_user_map_userid"
            resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id and q.creator=#{id}
    ORDER  by qct DESC
  </select>
    <select id="listQuestionWithUser" resultMap="question_user_map" resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id
    ORDER  by qct DESC
  </select>
    <select id="listQuestionCollectedWithUser" resultMap="question_user_map" resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id
    and q.id in <foreach item="groups" index="index" collection="list"
                        open="(" separator="," close=")"> #{groups}</foreach>
    ORDER  by qct DESC
  </select>
    <select id="listQuestionWithUserBycategory" resultMap="question_user_map" resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id and q.category=#{category}
    ORDER  by qct DESC
  </select>
    <select id="findQuestionsWithUserByTopicAll" resultMap="question_user_map" resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id
     and q.topic=#{id}
    ORDER  by qct DESC
  </select>
    <select id="findQuestionsWithUserByTopicJH" resultMap="question_user_map" resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id
     and q.topic=#{id}
    ORDER  by q.view_count DESC
  </select>
    <select id="findQuestionsWithUserByTopicTJ" resultMap="question_user_map" resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id
     and q.topic=#{id}
    ORDER  by q.like_count DESC
  </select>
    <select id="findQuestionsWithUserByTopicWT" resultMap="question_user_map" resultType="com.xmr.bbs.modal.Question">
    SELECT q.id qid, q.title,q.description,q.gmt_create qct ,q.gmt_modified qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count
    ,q.category,u.id uid,u.account_id account,u.name,u.token,
    u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
    FROM question q ,user u
    WHERE q.creator=u.id
     and q.topic=#{id}
    and category = 1
    ORDER  by q.gmt_create DESC
  </select>
    <select id="listQuestionWithUserBySearch" resultMap="question_user_map"
            resultType="com.xmr.bbs.modal.Question">
        SELECT q.id qid, q.title,q.gmt_create qct ,q.gmt_modified
        qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count,q.category
        ,u.id uid,u.account_id account,u.name,u.token,
        u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
        FROM question q ,user u
        <where>
            q.creator=u.id
            <if test="category!=null and category!=''">
                and category = #{category}
            </if>
            <if test="search!=null and search!=''">
                and title regexp #{search}
            </if>
            <if test="tag!=null and tag!=''">
                and tag regexp #{tag}
            </if>

            ORDER by qct DESC
        </where>


    </select>
    <select id="listQuestionHotByTime" resultMap="question_user_map"
            resultType="com.xmr.bbs.modal.Question">
        SELECT q.id qid, q.title,q.gmt_create qct ,q.gmt_modified
        qmt,tag,q.creator,q.view_count,q.like_count,q.comment_count,q.category
        ,u.id uid,u.account_id account,u.name,u.token,
        u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
        FROM question q ,user u
        <where>
            q.creator=u.id
            <if test = "beginTime != null and endTime != null">
                and q.gmt_create between #{beginTime} and #{endTime}
            </if>
            <if test="tag!=null and tag!=''">
                and tag regexp #{tag}
            </if>
            <if test="category!=null and category!=''">
                and category = #{category}
            </if>
            ORDER by comment_count desc, view_count Desc ,like_count DESC,qct desc
        </where>
    </select>
    <select id="listQuestionZeroHot" resultMap="question_user_map"
            resultType="com.xmr.bbs.modal.Question">
        SELECT q.id qid, q.title,q.gmt_create qct ,q.gmt_modified
        qmt,tag,q.creator,q.like_count,q.like_count,q.comment_count,q.view_count,q.category
        ,u.id uid,u.account_id account,u.name,u.token,
        u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
        FROM question q ,user u
        <where>
            q.creator=u.id
            <if test="tag!=null and tag!=''">
                and tag regexp #{tag}
            </if>
            <if test="category!=null and category!=''">
                and category = #{category}
            </if>
            AND
            comment_count=0 order by q.gmt_create desc
        </where>
    </select>
    <select id="listQuestionMostLike" resultMap="question_user_map"
            resultType="com.xmr.bbs.modal.Question">
        SELECT q.id qid, q.title,q.gmt_create qct ,q.gmt_modified
        qmt,tag,q.creator,q.like_count,q.like_count,q.comment_count,q.view_count,q.category
        ,u.id uid,u.account_id account,u.name,u.token,
        u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
        FROM question q ,user u
        <where>
            q.creator=u.id
            <if test="tag!=null and tag!=''">
                and tag regexp #{tag}
            </if>
            <if test="category!=null and category!=''">
                and category = #{category}
            </if>
            and like_count !=0
            order by like_count desc , view_count desc,comment_count desc ,q.gmt_create desc
        </where>
    </select>
    <select id="listQuestionMostComment" resultMap="question_user_map"
            resultType="com.xmr.bbs.modal.Question">
        SELECT q.id qid, q.title,q.gmt_create qct ,q.gmt_modified
        qmt,tag,q.creator,q.like_count,q.like_count,q.comment_count,q.view_count,q.category
        ,u.id uid,u.account_id account,u.name,u.token,
        u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
        FROM question q ,user u
        <where>
            q.creator=u.id
            <if test="tag!=null and tag!=''">
                and tag regexp #{tag}
            </if>
            <if test="category!=null and category!=''">
                and category = #{category}
            </if>
            and comment_count !=0
            order by comment_count desc , view_count desc,like_count desc,q.gmt_create desc
        </where>
    </select>
    <select id="listQuestionViewHot" resultMap="question_user_map"
            resultType="com.xmr.bbs.modal.Question">
        SELECT q.id qid, q.title,q.gmt_create qct ,q.gmt_modified
        qmt,tag,q.creator,q.like_count,q.like_count,q.comment_count,q.view_count,q.category
        ,u.id uid,u.account_id account,u.name,u.token,
        u.gmt_create uct,u.gmt_modified umt,u.avatar_url,u.bio,u.location,u.company
        FROM question q ,user u
        <where>
            q.creator=u.id
            <if test="tag!=null and tag!=''">
                and tag regexp #{tag}
            </if>
            <if test="category!=null and category!=''">
                and category = #{category}
            </if>
            and comment_count !=0
            order by view_count desc
        </where>
    </select>


</mapper>