<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fotter</title>
</head>
<body>

<div th:fragment="footer" class="container text-center" style="padding-top:20px;font-size:14px;color: #ffff;padding-bottom: 10px;">
    <div style="font-size: 14px;cursor:pointer;font-family: 楷体; color: #303030;margin-bottom: 10px;" id="sitetime"></div>
    <div style="font-size: 12px;color: #303030">
        版权所有：@上海码上加加科技有限公司（2020）
    </div>
    <small style="color: #303030">
        Copyright © 2020 · 996写码人 · 服务赞助. 阿里云 · <a style="text-decoration: none;color: #7777cc;" href="http://www.beian.miit.gov.cn/">备案</a>
    </small>
</div>
</body>
</html>